/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.common-margin{
    margin-bottom: 100px;
}

/* navigation menu styles */
.nav-logo{
    font-family: 'Bebas Neue', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}
.zone-color{
    color: #0A0826;
}

/* carousel styles */


/* package styles */
.package-main-head{
    color: #0A0826;
    margin-bottom: 75px;
}
.package-div{
    margin-bottom: 26px;
    margin-top: -26px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 25px;
}
.package-head-1{
    color: #231D4F;
    font-size: 36px;
    line-height: 46px;
}
.package-head-2{
    color: #231D4F;
    font-size: 28px;
    line-height: 33px;
}
.package-para{
    color: #848199;
    font-size: 15px;
    line-height: 22px;
}
.package-btn{
    background-color: #f496d21e;
    color: #3F87F5;
}
.best-choice{
    background-color: #FF4E4E;
    right: 12px;
    top: -23px;
}

/* Happy Clients styles */
.clients-para{
    letter-spacing: 0.2px;  
    color: #6C6C6C;
}
.clients-head-1{
    color: #0C1920;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.clients-head-2{
    color: #747474;
    font-size: 15px;
    letter-spacing: 0.2px;
}

/* FAQs styles */
.accordion-head{
    color:#383838;
}
.accordion-head:focus{
    color:#383838;
    border: none;
}
.accordion-head:active{
    color:#383838;
    border: none;
}
.accordion-head:visited{
    color:#383838;
    border: none;
}
.accordion-para{
    color: #7E848C;
}

/* Contact Form Styles */
.contact-form{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(99, 99, 99);
    border-radius: 7px;
}

/* footer styles */
footer{
    height: 280px;
    background-color: #0B0D17;
}

/* responsive styles */
@media only screen and (max-width: 575px) {
    .carousel-head{
        font-size: 20px !important;
    }
    .carousel-para{
        font-size: 14px !important;
    }
}
@media only screen and (max-width: 394px) {
    .carousel-head{
        font-size: 18px !important;
    }
    .carousel-para{
        font-size: 10px !important;
    }
}